* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #a855f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin-bottom:1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 0;
    text-align: center;
}

section h2 {
    font-size: 50px;
    margin-bottom: 1rem;
    color: #ffffff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.project {
    background-color: #a855f7;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px  hsl(69, 100%, 88%)(0, 0, 0, 0.1);
    text-align: center;
    
}

.project img {
    width: 50%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}